@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

body,
a,
a:visited {
  color: $light;
}
.img-fluid {
  height: intrinsic;
}

input {
  margin-bottom: 20px !important;
}
main {
  padding-top: 85px;
}
