name: Deployment Workflow
on: 
  push:
    branches: [ main ]

jobs:
  job_one:
    name: Deployment
    runs-on: ubuntu-latest
    steps:
    - name: testing tigu server ssh connection
      uses: appleboy/ssh-action@master
      with:
        host: 213.180.26.246
        username: juho.kalberg
        key: ${{ secrets.SSH_GIT_SECRET }}
        port: 22
        script: |
          cd public_html/githubactions
          git pull origin main
          git status