name: Deployment Workflow
on: 
  push:
    branches: [ main ]

jobs:
  job_one:
    name: Deployment
    runs-on: ubuntu-20.04
    steps:
    - name: testing tigu server ssh connection
      uses: appleboy/ssh-action@master
      with:
        host: https://tigu.hk.tlu.ee/
        username: juho.kalberg
        key: SSH_GIT_SECRET
        port: 22
        script: |
          cd public_html/githubactions
          git pull origin main
          git status